#kundas{
    width: 100%;
    height: auto;
}

.image-container {
    display: flex;  /* Používáme flexbox pro rozložení obrázků */
    
    width: 33%;  /* Celá šířka obrazovky */
    height: auto;  /* Celá výška obrazovky */

  }
  
  .image {
    width: 100%;  /* Každý obrázek bude zabírat třetinu šířky obrazovky */
    height: 33%;  /* Obrázky budou mít výšku 100% obrazovky */
    
  }
footer{
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: large;
    left: auto;
    bottom: auto;
}